body{
    
    background-repeat: no-repeat;
    background-size:cover;
    font-family: 'Trebuchet MS', sans-serif;
    line-height: 0;
}

h1{
    font-size: 350%;
    line-height: 1.07143;
    font-weight: 600;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    font-family: 'Trebuchet MS', sans-serif;
    text-align: center;
    display: block;
    width: 100%;
}

#p{
    font-size: 28px;
    font-weight: 400;
    font-family: 'Trebuchet MS', sans-serif;
    margin-top: 0px;
    margin-bottom: 4%;
}

.p{
    font-size: 28px;
    font-weight: 400;
    font-family: 'Trebuchet MS', sans-serif;
    margin-top: 0px;
    line-height: 1.07143;
}

a{
    margin: auto auto;
}

.button{
    cursor: pointer;
    font-size: 100%;
    font-weight: 400;
    font-family: 'Trebuchet MS', sans-serif;
    border-style: solid;
    border-width: 1px;
    padding: 0.6% 1.2%;
    border-radius: 25px;
    text-decoration: none;
    color: #1B97C9;
    position: relative;
    background-color: rgb(255, 255, 255);
}

.button:hover{
    background-color: #1B97C9;
    color:rgb(255, 255, 255);
}

.button2{
    cursor: pointer;
    font-size: 100%;
    font-weight: 400;
    font-family: 'Trebuchet MS', sans-serif;
    border-style: solid;
    border-width: 1px;
    padding: 0.6% 1.2%;
    border-radius: 25px;
    text-decoration: none;
    background-color: #1B97C9;
    color:rgb(255, 255, 255);
    
}

.button2:hover{
    background-color:#1c9dd0;
}

footer {
    position: fixed;
    z-index: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 30%;
    background-color: #1c9dd0;
    color: white;
    text-align: center;
}