* {
    box-sizing: border-box;
}

body{
    margin: 0;
    margin-top:0;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    background-color: rgb(188, 235, 255);
    color:black;
}

.nav{
    top:0;
    margin-top: 0;
    float: left;
    background-color: rgb(41, 84, 126);
    align-items: center;
    width: 100%;
}

.nav-inner{
    padding: 30px;
    align-items: center;
    float: center;
}

nav{

}

.nav-inner a{
    padding: 10px;
    background: rgb(74, 151, 227);
    text-decoration: none;
    color:white;border-radius: 25px;
}