html,
body,
section {
    block-size: 100%;
}

html {
    color: white;
    scroll-snap-type: y mandatory;
}

section {
    scroll-snap-align: start;
    scroll-snap-stop: always;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    flex-direction: row;
}

/*Above code by https://codepen.io/argyleink/pen/yLovWjz, with some changes made by myself*/

section:nth-child(2) {
    background: #E28413;
}

section:nth-child(3) {
    background: #DD4B1A;
}

section:nth-child(4) {
    background: #F56416;
}

section:nth-child(5) {
    background: #991602;
}

section:nth-child(6) {
    background: #DD4B1A;
}

.back {
    z-index: 5;
}

h2 {
    font-size: 3vh;
}

body {
    font-family: AvenirNextLTPro-Regular;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.break {
    width: 100%;
}

.moveOut {
    transform: translateX(-100vw);
    -webkit-transition: transform 2s ease-in-out;
}

.big {
    margin: 0;
    z-index: 1;
    font-size: 10vw;
}

.spacer {
    width: 5%;
}

* {
    box-sizing: border-box;
}

.hamburger-button {
    position: fixed;
    background-color: #a40000;
    color: white;
    padding: 15px;
    font-size: 24px;
    cursor: pointer;
}

.nav-links {
    position: inherit;
    display: none;
    background-color: #7a0000;
    color: white;
}

.nav-links a {
    position: inherit;
    display: block;
    padding: 15px;
    color: white;
    text-decoration: none;
}

.nav-links a:hover {
    background-color: rgb(83, 0, 0);
}