body{
    align-items: center;
    background-color: rgb(44, 44, 44);
}

h1,h2,h4{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}

h4{
    font-size: 115%;
}

.grid-container{
    display: grid;
    align-items: center;
    grid-template-columns: 33% 33% 33%;
    gap: 1%;
    margin: 1% 10%;
}

.container {
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 2em;
    background-color: rgb(96, 96, 96);
    width: 80.8%;
    margin: auto auto;
    margin-left: 9.99%;
  }
  
.container > * {
    flex: 1;
}

.break {
    flex-basis: 100%;
    height: 0;
}

.grid-item{
    background-color: rgb(96, 96, 96);
    padding: 10px;
    margin-bottom: 0.5%;
    border: #000000;
}

.item1{
    grid-column: 1 / span 3;
    grid-row: 1;
}

ul {
    left:0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
    position: absolute;
    top: 0;
    width: 100%;
}

ul li:hover{
    background-color: red;
}

ul li {
    float: left;
    border-right: 1px solid #bbb;
}
  
ul li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 15% 16px;
    text-decoration: none;
}

.header-text{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    font-size: 200%;
    align-self: center;
    margin: auto;
}

.normal-text{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    align-self: center;
    font-size: 100%;
}

#map{
    border-radius: 10%;
}

div{
    text-align: center;
}

.part1{
    width: 33%;
}

.part2{
    width: 33%;
}

.part3{
    width: 33%;
}

.rowsFlexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.columnsFlex {
    flex-direction: column;
    width:auto;
    height: 600px;
}

.childFlex {
    border-radius: 3px;
    background-color: rgb(96, 96, 96);
    border: 1px solid #202020;
    box-sizing: border-box;
    flex-grow: 1;
}

.columnsFlex .childFlex {
    height: auto;
    width: 61.804697156983930778739184177998%;
    margin-left: 0;
}

.flexBreak {
    flex-basis: 100%;
    height: 0;
    margin: 0;
}

.columnsFlex .flexBreak {
  width: 0;
  height: 100%;
}

.button {
    background-color: rgb(53, 53, 53);
    border: none;
    color: white;
    padding: 15px 32px;
    font-size: 16px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    border-radius: 25%;
}

.shadowButton:hover {
    box-shadow: 0 12px 16px 0 rgb(0, 0, 0),0 17px 50px 0 rgb(0, 0, 0);
}

.shadowButton:active{
    background-color: black;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    transform: translateY(2px);
}

#container{
    margin: 0 auto;
    color: black;
    width: 70%;
    background: white;
    padding: 20px;
}